 * {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    padding: 0px;   
}

.flex-container {
    display: flex;
    background-color: #d9dcd6;
}

/* Used "header" and "nav" semantics; formatted better; inserted RWD */
header {
    display: flex;
    padding: 20px;
    background-color: #2a607c;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;  
}

header .seo {
    color: #d9dcd6
}

nav{
    display:flex;
    justify-content: right;
    align-items: center;
}

ul{
    display: flex;
    list-style-type:none;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.Meeting-Photo {
    display: flex;
    justify-content: flex-start;
    width:100%;
}

.article-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

article {
    display: flex;
    align-items: stretch;
    margin: 20px;
    height: 300px;
    width: 75%;
    padding: 50px;
    border: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img{
    display: flex;
    height: 100%;
    width: 75%;
    margin: 20px;
}

aside {
   display: flex; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    width: 20%;
    height: 100%;
    background: #2589bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer > h2 {
    font-size: 20px;
}
